# vscode
.vscode

# ***********************************************************
# blender-git
blender-git/lib
blender-git/build_*

# build
build

# clion build
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
cmake-build-minsizerel
cmake-build-default

# ***********************************************************
# github repository
TensorFlow-2.x-Tutorials    
USD
USD-Cookbook
USDCustomSchemas
taichi
taichi-fork
maya-usd
arnold-usd
blender-git
docsify
BoostNote.next
Boostnote
vscode
electron-quick-start
electron-quick-start-typescript
vcpkg
Minimalism
styled-wind
wireshark
swift-win32
audacity
tinyobjloader
Spoon-Knife
SikuliX1
Centos7Note
SideFXLabs
HoudiniEngineForUnreal-v2
HoudiniUsdBridge

# graphics
glm
glfw
LearnOpenGL
assimp
Vulkan
Vulkan-Python-Binding

# services
grpc
grpc-graphql-springboot
graphql-springboot-dataloader-scope
grpc-java
gRPC-MongoDB-CRUD
gs-spring-boot
deno-server-graphQL
koa-demos
graphql-todolist

# kubernetes
k8s-for-docker-desktop
examples
myapp

# ai
DeepSpeechRecognition
vision
docs
transferlearning
cocoapi
speech_recognition
Sports-Type-Classifier
FGVC

# flutter about
ibaozi
codelabs
samples
Clima-Flutter
material-components-flutter-codelabs
material-components-flutter-motion-codelab

# ****************************************************
flutter_signin_example
window_to_front
github_graphql_client
grpc-mongodb-CURD-example
aaronmack.github.io

demo-services-spring
demo-services-hello_world
demo-services-simple_app
demo-flutter-examples

dev-for-store-with-codelab

MP-common
open-dev-environment

# meta3 about
meta3-login-module
meta3-registion-module
# ****************************************************

# non-net repository and ignore follow repository
v2ray-x64-windows
